/* The way the code is ordered is similar to the site and itself (Header, Navigation, Aside, Body Content, and Footer content). */


/* The code below is for the settings of the website as a whole */
*{
	font-family: Georgia, "Times New Roman", serif;
}

#LoveBug{
	width:1125px;	
	height: 3200px;
	margin-top: -50px;
    margin-left:auto;
    margin-right:auto;
	padding: 65px;
	background-color: #FEF9FA;
}


/* The code below shows the code for the header */
#Title {
    display: block;
    clear: right;	
	height: 100px;
	margin:auto;
}

#TitleDescription {
    margin-top: -1px;
    text-align: center;
    word-spacing: 5px;
}

#DummySearchBar input[type=text] {
	float: right;
	border: 1px solid black;
    padding: 10px;
    margin-top: 8px;
	width: 175px;
    font-size: 20px;
}

input[type=text]{
	background-color: #E5BCC5;
}

input[type=text]:focus{
	background-color: pink;
}	

#DummySearchBar > button {
    float: right;
    border: 1px solid black;
	width: 50px;
    padding: 10px;
    margin-top: 8px;
    background-color: #E5BCC5;
    font-size: 20px;	
	cursor: pointer;
}

#DummySearchBar button img {
    width: 18px;
	height: 15px;
	background-color: #E5BCC5;
}


/* The code below is the code for navigation */
#PAGES {
	display:flex;
	justify-content:center; 
	border-top: 2px solid black;
    padding: 10px; 	
	list-style-type: none;
	margin-top: -22px;
	margin-bottom: -28.5px;
}

#PAGES li {
    display: block;
	float: left;
	margin-top: -10px;
    padding: 10px 20px 10px 20px;
}

#LinkHover {
	color: black;
	text-decoration: none;
}

#LinkHover:hover{
	color: #F471A8;
}
	
#Emphasis {
	color:#F471A8
}

#Breadcrumb {
	color: #BF5380;
	text-decoration: none;
    text-indent: 10px;
	list-style-type: none;
}

#Breadcrumb a {	
	color: #BF5380;
	text-decoration: none;
}

#Breadcrumb a:hover{
	text-decoration: underline;
}	

/* The segment below shows the back to top button on the side. */
#BackToTop { 
	position:fixed;
	display: block;
	width: 70px;	
	height: 60px;
	margin-top: 90px;
	margin-left: 1095px;
}	


/* The three segments below make up the content of the body of the page. */
/* This segment styles the "Welcome" portion of the page */

#WelcomeVideo { 
	position: relative;
	width: 1025px;
	height: 400px; 
	margin: auto;
}

#LoveBugVideo {
	width: 100%; 
	height: 100%; 
	margin: auto;
	display: block;
}

#Welcome {
	position: absolute;
	top: 50px;
	left: 330px;
	font-size: 40px;
}	
	
#WelcomeButton {
	text-align:center;
	font-size: 30px;
	margin-top: -20px;
}
	
#WelcomeButton a {
	padding: 10px;
	color: black;
	background-color: #FEF9FA;
	text-decoration: none;
}
#WelcomeButton>a:hover{
	font-size: 32px;
}

/* This section of the code includes the code for all the body images on the page (aside from the icon, title, dummy search bar, and footer images). */
.ImageSets{
	margin-left:40px;
    list-style-type: none;  
    padding: 0px;
}

.ImageSets > li {
	float: left;
}

.ImageSets li img { 
    display: block; 
	width: 331px;
	height: 245px;
    padding: 8px;
}
#ImageSet3{
    list-style-type: none;
	display:flex;	
    justify-content:center;  	
    padding: 0;
}

.ImageSet3 > .ImageSet3Lists {
	float: left;
}

.ImageSet3Lists img {  
    display: block;
	width: 502px;
    padding: 8px;
}

#ImageNine {
	box-sizing: border-box;
	width: 850px;
    height: 391px;
	margin: auto;	
	padding: 50px;
	background-image: url("../images/index/ImageNine.png");
}

#ImageNine h1{ 
	width: 300px;
	margin-left: 425px;
	padding: 15px;
	background-color: #FFF5EC;
	text-align:center;
	font-size: 25px;
}

#ImageNine h1:hover{
	background-color:#F471A8;
}

#ImageNine a {
	color: black;
	text-decoration: none;
}

#ImageNine #LearnMore {
	margin-top: 70px;
	background-color: #FFF5EC;
}

#ImageNine #LearnMore:hover {
	background-color: #F471A8;
}


/* This part of the code includes all the code for the body text, excluding header and footer text. */
.BodyHeaders {
	clear:both;
	margin-top: 25px;	
	text-align: center;
}	

.BodySubHeaders {
	clear: left;
	text-indent: 45px;
}   

.BodyTexts {
	width: 1025px;
	margin-left: 50px;
	text-indent: 50px;
	text-align: justify;
	font-size: 20px;
}

.BodyTextCenter {
	text-align: center;
	font-size: 20px;
}

#Sources {
	color: black;
	text-align: center;
	text-decoration: none;
}

#Sources:hover{
	color: #F471A8;
	text-decoration: underline;
}


/* The code below showcases the content of the footer. */
hr {
    border-top: 2px solid black;
}

#FooterItalic {
	font-style: italic;
}

#FooterInfo {
	float: left;
	border-spacing: 20px;
	width: 430px;
	margin-left: 50px;
	text-align: left;
	font-size: 20px;
}

#FooterInfo2 {
	float: left;
	border-spacing: 20px;
	width: 600px;
	text-align: left;
	font-size: 20px;
}

#FooterInfo2 a {
	color: black;
	text-decoration: none;	
}

#FooterImages {
	width: 250px;
	padding: 0px;
	list-style-type: none;	
}

#FooterImages li{
	display: block;
	float: left;
	margin-top:-10px;
    padding: 2px;
}

#FooterImages div {
	margin-top: -20px;
	margin-left: -1.75px;
	width: 60px;
	height:60px;
}

#FacebookSprite {
	background: url("../images/Facebook.png") no-repeat;
}

#TwitterSprite {
	background: url("../images/Twitter.png") no-repeat;
}

#InstagramSprite {
	background: url("../images/Instagram.png") no-repeat;
}

#PinterestSprite {
	background: url("../images/Pinterest.png") no-repeat;
}

#FacebookSprite:hover {
	background: url("../images/Facebook2.png") no-repeat;
}

#TwitterSprite:hover {
	background: url("../images/Twitter2.png") no-repeat ;
}

#InstagramSprite:hover {
	background: url("../images/Instagram2.png") no-repeat;
}

#PinterestSprite:hover {
	background: url("../images/Pinterest2.png") no-repeat;
}


