/* The way the code is ordered is similar to the site and itself (Header, Navigation, Aside, Body Content, and Footer content). */


/* The code below is for the settings of the website as a whole */
:root{
	background-color: #FEF9FA;
}

*{
	font-family: Georgia, "Times New Roman", serif;
}

#LoveBug{
	width:1125px;	
	height: 1670px;
	margin-top: -50px;
    margin-left:auto;
    margin-right:auto;
	padding: 65px;
}


/* The code below shows the code for the header */
#Title {
    display: block;
    clear: right;	
	height: 100px;
	margin:auto;
}

#TitleDescription {
    margin-top: -1px;
    text-align: center;
    word-spacing: 5px;
}

#DummySearchBar input[type=text] {
	float: right;
	border: 1px solid black;
    padding: 10px;
    margin-top: 8px;
	width: 175px;
    font-size: 20px;
}

input[type=text]{
	background-color: #E5BCC5;
}

input[type=text]:focus{
	background-color: pink;
}

#DummySearchBar > button {
    float: right;
    border: 1px solid black;
	width: 50px;
    padding: 10px;
    margin-top: 8px;
    background-color: #E5BCC5;
    font-size: 20px;	
	cursor: pointer;
}

#DummySearchBar button img {
    width: 18px;
	height: 15px;
	background-color: #E5BCC5;
}


/* The code below is the code for navigation */
#PAGES {
	display:flex;
	justify-content:center; 
	border-top: 2px solid black;
    padding: 10px; 	
	list-style-type: none;
	margin-top: -22px;
	margin-bottom: -28.5px;
}

#PAGES li {
    display: block;
	float: left;
	margin-top: -10px;
	margin-bottom: -25px;
    padding: 10px 20px 10px 20px;
}

#LinkHover {
	color: black;
	text-decoration: none;
}

#LinkHover:hover{
	color: #F471A8;
}	

#Emphasis {
	color:#F471A8;
}

#Breadcrumb {	
	color: #BF5380;
	text-decoration: none;
    text-indent: 6px;
	list-style-type: none;
}

#Breadcrumb li {
	float:left;
}
	
#Breadcrumb a {	
	color: #BF5380;
	text-decoration: none;
}

#Breadcrumb a:hover{
	text-decoration: underline;
}	

/* The segment below shows the back to top button on the side. */
#BackToTop { 
	position:fixed;
	display: block;
	width: 70px;	
	height: 60px;
	margin-top: 114.2px;
	margin-left: 1095px;
}	

/* The code below make up the content of the body */
h2 {
	margin-top: 10px;
	font-size: 35px;
	text-align: center;
}

p {
	margin-top: -20px;
	text-align: center;
	font-style: italic;
}

#ResourcesList li{
	margin: 5px 5px 5px -25px;
	padding: 5px;
	text-align: center;
	list-style-type: none;
}

#ThankYou {
	margin: auto;
	width: 230px;
	height: 215px;
	background: url("../images/resources/ThankYou.png") no-repeat;
}	

/* The code below showcases the content of the footer. */
hr {
    border-top: 2px solid black;
}

#FooterItalic {
	font-style: italic;
}

#FooterInfo {
	float: left;
	border-spacing: 20px;
	width: 430px;
	margin-left: 50px;
	text-align: left;
	font-size: 20px;
}

#FooterInfo2 {
	float: left;
	border-spacing: 20px;
	width: 600px;
	text-align: left;
	font-size: 20px;
}

#FooterInfo2 a {
	color: black;
	text-decoration: none;	
}

#FooterImages {
	width: 250px;
	padding: 0px;
	list-style-type: none;	
}

#FooterImages li{
	display: block;
	float: left;
	margin-top:-10px;
    padding: 2px;
}

#FooterImages div {
	margin-top: -20px;
	margin-left: -1.75px;
	width: 60px;
	height:60px;
}

#FacebookSprite {
	background: url("../images/Facebook.png") no-repeat;
}

#TwitterSprite {
	background: url("../images/Twitter.png") no-repeat;
}

#InstagramSprite {
	background: url("../images/Instagram.png") no-repeat;
}

#PinterestSprite {
	background: url("../images/Pinterest.png") no-repeat;
}

#FacebookSprite:hover {
	background: url("../images/Facebook2.png") no-repeat;
}

#TwitterSprite:hover {
	background: url("../images/Twitter2.png") no-repeat ;
}

#InstagramSprite:hover {
	background: url("../images/Instagram2.png") no-repeat;
}

#PinterestSprite:hover {
	background: url("../images/Pinterest2.png") no-repeat;
}